.add-service {
  margin-top: 100px;
}
.add-service form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.add-service form input,
textarea {
  width: 40%;
  margin-top: 10px;
  outline: none;
  border: 1px solid rgb(218, 218, 218);
  padding: 15px;
}
.add-service form input:focus {
  border-color: rgb(119, 119, 119);
}
.add-service form textarea:focus {
  border-color: rgb(119, 119, 119);
}
